body {
    margin: 0;
}

div {
    margin: 0;
}

h1 {
    margin-top: 0;
}

.top-container {
    width: 200px;
    height: 200px;
    background-color: #e4f9f5;
    border: solid 10px;
    padding: 20px;
}

.middle-container {
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    border: solid 20px;
    margin-left: 260px;
}

.bottom-container {
    width: 200px;
    height: 200px;
    background-color: cadetblue;
    border: solid 10px;
    margin-left: 500px;
}